/* TOP tic-tac-toe stylesheet */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "RD", "Verdana", "Sans Serif";
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --color1: blue;
  --color2: yellow;
  --color3: red;
}

.big-container {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 2fr 0.5fr;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.left-div {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
}

.right-div {
  grid-row: 1 / 6;
  grid-column: 3 / 4;
}

.title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: center;
}

.player-scores {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
}

.game-container {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.title > H1 {
  font-family: "Kablammo";
}

.tiles-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  display: flex;
  align-items: center;
  border: solid 1px black;
  justify-content: center;
  font-size: 5vw;
  width: 100px;
  height: 100px;
}

#tile0,
#tile1,
#tile2 {
  border-top: none;
}

#tile6,
#tile7,
#tile8 {
  border-bottom: none;
}

#tile0,
#tile3,
#tile6 {
  border-left: none;
}

#tile2,
#tile5,
#tile8 {
  border-right: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

button {
  appearance: none;
  border: solid black 1px;
  border-radius: 15px;
  background-color: var(--color2);
  padding: 0.5rem 1rem;
}

button:active {
  background-color: var(--color3);
}

.footer {
  text-align: center;
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

dialog {
  margin: auto;
}